In [2]:
import pandas as pd
import numpy as np

In [21]:
Path = "C:/Users/Mahin Vazifehdan/Desktop/Datasets/BrainTeaser/Clinical_data/Updated_MS_14000.csv"
data = pd.read_csv(Path)
data.head()

,Patient_ID,Date_of_visit,Pyramidal,Cerebellar,Thronchioencephalic,Sensitive,Sphincteric,Visual,Mental,Deambulation,EDSS_score_assessed_by_clinician,Age,Sex,MS in pediatric age
0,2774,2013-05-07,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,30,0,0
1,2774,2013-12-04,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,31,0,0
2,2774,2015-04-09,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.0,32,0,0
3,2774,2015-06-17,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,32,0,0
4,2774,2015-11-11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,32,0,0

In [62]:
# Identify Patient_IDs with at least 3 records
valid_patient_ids = data.groupby("Patient_ID").filter(lambda x: len(x) >= 10)["Patient_ID"].unique() 

# Filter the original DataFrame based on these Patient_IDs
result = data[data["Patient_ID"].isin(valid_patient_ids)]

# Give me the last 5 observations
last_ten_per_patient = result.groupby("Patient_ID").tail(10)

# Size of the desired dataset
last_ten_per_patient.shape

(5260, 14)

In [63]:
last_ten_per_patient.to_csv("10_Observation_per_patients.csv")